@media(max-width: 2500px) {
    .hero-section::after {
        width: 38% !important;
    }
}

@media(max-width: 2400px) {
    .about-section::before {
        width: 35% !important;
    }
}

@media(max-width: 2100px) {
    .hero-section::after {
        width: 35% !important;
    }
}

@media(max-width: 2000px) {
    .about-section::before {
        width: 32% !important;
    }
}

@media(max-width: 1650px) {
    .stroke-text {
        right: -240px !important;
        font-size: 220px !important;
    }

    .hero-section::after {
        width: 30% !important;
    }

    .hero-row .hero-bg {
        left: 34% !important;
    }

    .stroke-text {
        right: -185px !important;
        font-size: 220px !important;
    }

    .about-content-wrapper {
        gap: 40px !important;
    }
}



@media(max-width: 1400px) {
    .hero-section::after {
        width: 27% !important;
    }

    .about-content h2 {
        font-size: 80px !important;
        line-height: 80px !important;
        margin-top: 35px !important;
    }

    .about-content .about-subtitle {
        font-size: 70px !important;
        line-height: 60px !important;
    }

    .about-content .about-subtitle::before {
        bottom: 15px !important;
    }

    .about-strok-text {
        font-size: 170px !important;
    }
}

@media(max-width: 1200px) {
    .hero-section::after {
        display: none;
    }

    .hero-row .hero-bg {

        position: initial !important;
        top: 0 !important;
        left: 0 !important;
    }

    .hero-section .container {
        max-width: 800px;
    }

    .trending-product-slider-control {
        padding-left: 15% !important;
    }

    .about-content-wrapper {
        display: block !important;
    }

    .about-section::before {
        display: none !important;
    }

    .about-left {
        width: 100% !important;
    }

    .about-content {
        width: 100% !important;
        margin-top: 80px;
    }

    .circle-shape {
        top: 59% !important;
        left: 16% !important;
    }

    .about-section .container-lg {
        max-width: 800px !important;
    }

    .about-strok-text {
        left: 50% !important;
        top: 37% !important;
        transform: translateX(-50%) !important;
    }
}

@media(max-width: 1220px) {
    .header-row {
        gap: 30px !important;
    }

    .header-right {
        gap: 30px !important;
    }

    .header-section .container {
        padding-right: 0;
    }
}

@media(max-width: 975px) {
    .navmenus li {
        padding: 0 15px !important;
    }

    .trending-content-wrapper {
        flex-wrap: wrap;
    }

    .trending-section .container {
        max-width: 800px;
    }

    .trending-product-slider-control {
        padding-left: 25% !important;
    }
}

@media(max-width: 850px) {
    .navmenus {
        display: none !important;
    }

    .mobile-menu-btn {
        display: inline-flex;
    }

    .header-canvas-btn {
        display: none;
    }

}

@media(max-width: 768px) {
    .hero-section {
        padding: 140px 0 120px !important;
    }

    .hero-content .hero-subtitle {
        font-size: 30px !important;
        line-height: 40px !important;
        padding-left: 80px !important;
    }

    .hero-content .hero-subtitle::before {
        width: 65px !important;
    }

    .hero-content .hero-title {
        font-size: 80px !important;
        line-height: 90px;
    }

    .trending-product-slider-control {
        padding-left: 22% !important;
    }
}

@media(max-width: 500px) {
    .circle-btn {
        display: none;
    }

    .trending-product-slider-control {
        padding-left: 12% !important;
    }
}

@media(max-width: 475px) {
    .section-left h3 {
        font-size: 40px;
        line-height: 40px !important;
    }

    .section-left {
        flex-shrink: initial !important;
    }

    .ronded-btn-primary {
        width: 60px !important;
        height: 60px !important;
        font-size: 30px !important;
    }

    .circle-shape {
        width: 360px !important;
        height: 360px !important;
        top: 60% !important;
        left: 5% !important;
    }

    .about-strok-text {
        font-size:  110px !important;
    }

    .about-content .about-subtitle {
        font-size: 40px !important;
        line-height: 60px !important;
        padding-left: 70px !important;
    }

    .about-content .about-subtitle::before {
        width: 60px !important;
    }
    .about-content p{
        width: 100% !important; 
        text-align: justify !important;

    }
}

@media(max-width: 375px) {
    .trending-product-slider-control {
        padding-left: 9% !important;
    }
}