/*
AUTHOR NAME   : ANIK ISLAM
TEMPLATE NAEM : AIR NIKE SHOE
VERSION       : 1.0.0
*/

/* ESSENTION SET UP  */
/* ROOT VARIABLES  */
/* font-family: */
:root {
    --primary-font: "Roboto", sans-serif;
    --heading-font: "Poppins", sans-serif;
    --secondary-font: "Inter", sans-serif;
    --text-color: #6b6b6b;
    --dark-bg: #232323;
    --white-color: #f8f8f8;
    --redish-color: #EC092C;
    --heading-color: #050025;
    --dark-canvas-bg: #00051D;
    --border-color: #EAEAEA;
    --explore-btn-bg: #EC092C1A
}

body {
    font-family: var(--primary-font);
    margin-bottom: 500px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.container {
    max-width: 1350px;
    padding: 0 15px;
    margin: 0 auto;
}

.container-lg {
    max-width: 1600px;
    padding: 0 15px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* ESSENTIAL FONT SET UP  */
h1 {
    font-size: 165px;
}

h2 {
    font-size: 64px;
}

h3 {
    font-size: 56px;
}

h6 {
    font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    color: var(--heading-color);
    font-family: var(--heading-font) !important;
    font-weight: 700;
}

img {
    max-width: 100%;
}




/*HEADER SECTION START */
.header-section {
    position: relative;
    z-index: 2;
}

.header-leff .logo a {
    color: var(--text-color);
}

.header-row {
    display: flex;
    align-items: center;
    gap: 170px;
    justify-content: space-between;
}

.navmenus li {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    padding: 0 26px;
    flex-shrink: none;
}

.navmenus li a {
    display: inline-block;
    color: var(--black-color);
    font-weight: 600;
    font-family: var(--secondary-font);
    font-size: 16px;
    color: var(--text-color);
}

.header-iocns {
    display: flex;
    align-items: center;
    gap: 10px;
}

.circle-btn {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: var(--dark-bg);
    color: var(--white-color);
    font-size: 20px;
    cursor: pointer;
    position: relative;
    padding: 0;
    border: none;
}

.cart-btn .cart-quantity {
    width: 21px;
    height: 21px;
    color: var(--white-color);
    background-color: var(--redish-color);
    border-radius: 50%;
    position: absolute;
    padding: 3px;
    top: 0;
    right: -8px;
    font-family: var(--primary-font);
    font-weight: 600;
    align-items: center;
    justify-content: center;
    display: inline-flex;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 130px;
}

.canvas-btn {
    width: 73px;
    height: 73px;
    background-color: var(--redish-color);
    border: none;
    display: inline-flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.mobile-menu-btn {
    display: none;
}

.canvas-btn span {
    width: 32px;
    height: 4px;
    background-color: var(--white-color);
    display: inline-block;
    border-radius: 10px;
    transition: 0.2s;
}

.canvas-btn span:nth-child(2) {
    width: 22px;
}

.canvas-btn span:nth-child(3) {
    width: 15px;
}

.canvas-btn:hover span:nth-child(2),
.canvas-btn:hover span:nth-child(3) {
    width: 32px;
}

/*HEADER SECTION END */

/*HERO SECTION START */
.hero-section {
    padding: 320px 0 220px;
    position: relative;
    z-index: 1;
    margin-top: -100px;
    overflow: hidden;
}

.hero-section .circle-grp {
    position: absolute;
    left: 15%;
    bottom: 0;
    z-index: -1;
    animation: 3s movement infinite;
}

/* GROUP CIRCLE'S ANIMATION  */
@keyframes movement {
    øó 0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* GROUP CIRCLE'S ANIMATION  */
.hero-section .circle {
    position: absolute;
    left: 15%;
    top: 20%;
    z-index: -1;
    animation: 2s zoom_in_zoom_out infinite;
}


/*? SINGLE CIRCLE'S IMAGE ANIMATION  */
@keyframes zoom_in_zoom_out {
    0% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(3);
    }

    100% {
        transform: scale(1);
    }
}

/*? SINGLE CIRCLE'S IMAGE ANIMATION  */


.hero-content {
    position: relative;
}

.stroke-text {
    font-size: 280px;
    font-family: var(--heading-font);
    font-weight: 700;
    position: absolute;
    right: -350px;
    top: 0;
    transform: rotate(-90deg);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.157);
    -webkit-text-stroke-width: 2px;

}

.hero-section::after {
    content: "";
    width: 35%;
    height: 100%;
    background-color: var(--dark-canvas-bg);
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.hero-row {
    position: relative;
}

.hero-row .hero-bg {
    position: absolute;
    left: 38%;
}

.hero-content .hero-subtitle {
    padding-left: 155px;
    font-family: var(--heading-font);
    line-height: 64px;
    letter-spacing: -0.02em;
    position: relative;
}

.hero-content .hero-subtitle::before {
    content: "";
    height: 5px;
    width: 135px;
    background-color: var(--redish-color);
    position: absolute;
    left: 0;
    bottom: 10px;
}

.hero-content .hero-para {
    font-size: 24px;
    max-width: 655px;
}


.hero-btn a {
    margin-top: 50px;
    margin-right: 8px;
}

.btn-primary,
.btn-transparent {
    background-color: var(--redish-color);
    padding: 18px 28px;
    color: var(--white-color);
    display: inline-block;
    border-radius: 50px;
    transition: 0.2s;
    font-family: var(--secondary-font);
    font-weight: 700;
}

.btn-primary i {
    margin-left: 8px;
    transform: rotate(-30deg);
}

.btn-primary:hover,
.btn-transparent:hover {
    background-color: var(--heading-color);
    color: var(--white-color);
}

.btn-transparent {
    background-color: transparent;
    color: var(--text-color);
}

.btn-transparent i {
    margin-left: 8px;
}

/*HERO SECTION END */


/*TRENSING SECTION START */
.trending-section {
    padding: 120px 0;
    overflow: hidden;
}

.trending-content-wrapper {
    display: flex;
    gap: 40px;
    align-items: center;

}

.subtitle {
    position: relative;
    content: "";
    font-size: 20px;
    font-weight: 900;
    padding-left: 80px;
    font-family: var(--heading-font);
    color: var(--redish-color);
    line-height: 20px;
    display: inline-block;
}

.subtitle::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 5px;
    background-color: var(--redish-color);
    left: 0;
    bottom: 5px;
}

.section-left {
    max-width: 450px;
    flex-shrink: 0;
}

.section-left h3 {
    line-height: 64px;
    margin: 8px 0 15px 0;
}

.section-left h3 mark {
    background-color: transparent;
    color: var(--redish-color);
}

.section-left p {
    font-size: 18px;
    margin-bottom: 40px;
}

.ronded-btn-primary {
    width: 92px;
    height: 92px;
    background-color: var(--redish-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    border-radius: 50%;
    text-decoration: none;
    transition: 0.2s;

}

.ronded-btn-primary:hover {
    background-color: var(--heading-color);
}

.ronded-btn-primary i {
    color: var(--white-color);
    transform: rotate(-30deg);
    flex-shrink: 0;
}

.product-card {
    border: 1px solid var(--border-color);
    max-width: 275px;
    border-radius: 5px;
    padding: 30px 32px;
    transition: 0.2s;
    flex-shrink: 0;
}

.product-card:hover {
    box-shadow: 0px 0px 2px rgba(145, 158, 171, 0.3), 20px 20px 24px -4px rgba(145, 158, 171, 0.15);
}

.product-card:hover .explore-btn {
    background-color: var(--redish-color);
}

.product-card:hover .explore-btn i {
    color: var(--white-color);
}

.trending-product-slider {
    display: flex;
    align-items: center;
}

.product-card .product-feature-image img {
    transition: 0.2s;
}

.product-card .product-feature-image {
    position: relative;
}

.product-card .product-feature-image .hover-state {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.7);
    transition: 0.2s;
    opacity: 0;
}

.product-card:hover .product-feature-image .hover-state {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.product-card:hover .product-feature-image .normal-state {
    opacity: 0;
}

.product-card-content {
    padding: 30px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.product-card-content a {
    text-decoration: none;
}

.product-card-content a h4 {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 10px;
}

.product-card-content span {
    color: var(--redish-color);
    font-weight: 600;
}

.product-card-content .del {
    color: var(--black-color);
}

.explore-btn {
    width: 40px;
    height: 40px;
    background-color: var(--explore-btn-bg);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 50%;
    transition: 0.2s;
}

.explore-btn i {
    transform: rotate(-30deg);
    color: var(--redish-color);
}

.trending-product-slider-control {
    display: flex;
    padding-left: 35%;
    gap: 8px;
    margin-top: 32px;
}

.trending-product-slider-control li {
    width: 8px;
    height: 8px;
    background: var(--redish-color);
    border-radius: 50%;
    list-style-type: none;
    opacity: 0.5;
    cursor: pointer;
}

.trending-product-slider-control li.active {
    width: 18px;
    opacity: 1;
    border-radius: 8px;
}

/*TRENSING SECTION END */



/*ABOUT SECTION START */
.about-section {
    padding: 90px 0 130px;
    position: relative;

}

.about-content-wrapper {
    display: flex;
    align-items: center;
    gap: 80px;
}

.about-section::before {
    content: "";
    top: 0;
    left: 0;
    background-color: var(--heading-color);
    position: absolute;
    width: 32%;
    height: 100%;
    display: inline-block;
    z-index: -1;
}

.about-left {
    position: relative;
    width: 50% 
}

.about-strok-text {
    font-size: 210px;
    font-family: var(--heading-font);
    font-weight: 700;
    position: absolute;
    -webkit-text-stroke-width: 2px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: rgb(203, 203, 203, 0.4);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}

.circle-shape {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: var(--redish-color);
    display: inline-block;
    top: 56%;
    left: 20%;
    transform: translateY(-50%);
    z-index: -1;
}
.about-content{
    width: 50%;
    position: relative;
}
.about-content .about-subtitle{
    position: relative;
    padding-left: 110px;
    font-weight: 700;
    font-family: var(--heading-font);
    color: var(--heading-color); 
    line-height: 100px; 
    font-size: 56px;
}
.about-content .about-subtitle::before{
    content:  "";
    position: absolute;
    width: 97px;
    height: 5px;
    bottom: 35px;
    left: 0;
    background-color: var(--redish-color);

}
.about-content .fonts{
    font-size: 100px;
    line-height: 100px;
    letter-spacing: 0.01em;
}
.about-content p{
    width: 600px;
    font-size: 18px;
    margin: 16px 0 65px 0;
}
.flower-shape{
    position: absolute;
    right: -40px;
    top: -80px;
}
/*ABOUT SECTION END */


/* SECTION START */
/* SECTION END */