/*
AUTHOR NAME   : ANIK ISLAM
TEMPLATE NAEM : AIR NIKE SHOE
VERSION       : 1.0.0
*/

/* ESSENTION SET UP  */
/* ROOT VARIABLES  */
/* font-family: */
:root {
    --primary-font: "Roboto", sans-serif;
    --heading-font: "Poppins", sans-serif;
    --secondary-font: "Inter", sans-serif;
    --text-color: #6b6b6b;
    --dark-bg: #232323;
    --white-color: #f8f8f8;
    --redish-color: #EC092C;
    --heading-color: #050025;
    --dark-canvas-bg: #00051D;
}

body {
    font-family: var(--primary-font);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.container {
    max-width: 1350px;
    padding: 0 15px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* ESSENTIAL FONT SET UP  */
h1 {
    font-size: 165px;
}

h2 {
    font-size: 64px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    color: var(--heading-color);
    font-family: var(--heading-font) !important;
    font-weight: 700;
}
img{
    max-width: 100%;
}




/*HEADER SECTION START */
.header-section {
    position: relative;
    z-index: 2;
}

.header-leff .logo a {
    color: var(--text-color);
}

.header-row {
    display: flex;
    align-items: center;
    gap: 170px;
    justify-content: space-between;
}

.navmenus li {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    padding: 0 26px;
    flex-shrink: none;
}

.navmenus li a {
    display: inline-block;
    color: var(--black-color);
    font-weight: 600;
    font-family: var(--secondary-font);
    font-size: 16px;
    color: var(--text-color);
}

.header-iocns {
    display: flex;
    align-items: center;
    gap: 10px;
}

.circle-btn {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: var(--dark-bg);
    color: var(--white-color);
    font-size: 20px;
    cursor: pointer;
    position: relative;
    padding: 0;
    border: none;
}

.cart-btn .cart-quantity {
    width: 21px;
    height: 21px;
    color: var(--white-color);
    background-color: var(--redish-color);
    border-radius: 50%;
    position: absolute;
    padding: 3px;
    top: 0;
    right: -8px;
    font-family: var(--primary-font);
    font-weight: 600;
    align-items: center;
    justify-content: center;
    display: inline-flex;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 130px;
}

.canvas-btn {
    width: 73px;
    height: 73px;
    background-color: var(--redish-color);
    border: none;
    display: inline-flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.mobile-menu-btn {
    display: none;
}

.canvas-btn span {
    width: 32px;
    height: 4px;
    background-color: var(--white-color);
    display: inline-block;
    border-radius: 10px;
    transition: 0.2s;
}

.canvas-btn span:nth-child(2) {
    width: 22px;
}

.canvas-btn span:nth-child(3) {
    width: 15px;
}

.canvas-btn:hover span:nth-child(2),
.canvas-btn:hover span:nth-child(3) {
    width: 32px;
}

/*HEADER SECTION END */

/*HERO SECTION START */
.hero-section {
    padding: 320px 0 220px;
    position: relative;
    z-index: 1;
    margin-top: -100px;
    overflow: hidden;
}

.hero-content {
    position: relative;
}

.stroke-text {
    font-size: 280px;
    font-family: var(--heading-font);
    font-weight: 700;
    position: absolute;
    right: -350px;
    top: 0;
    transform: rotate(-90deg);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color:   rgba(255, 255, 255, 0.157);
    -webkit-text-stroke-width: 2px;

}

.hero-section::after {
    content: "";
    width: 35%;
    height: 100%;
    background-color: var(--dark-canvas-bg);
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.hero-row {
    position: relative;
}

.hero-row .hero-bg {
    position: absolute;
    left: 38%;
}

.hero-content .hero-subtitle {
    padding-left: 155px;
    font-family: var(--heading-font);
    line-height: 64px;
    letter-spacing: -0.02em;
    position: relative;
}

.hero-content .hero-subtitle::before {
    content: "";
    height: 5px;
    width: 135px;
    background-color: var(--redish-color);
    position: absolute;
    left: 0;
    bottom: 10px;
}

.hero-content .hero-para {
    font-size: 24px;
    max-width: 655px;
}


.hero-btn a {
    margin-top: 50px;
    margin-right: 8px;
}

.btn-primary,
.btn-transparent {
    background-color: var(--redish-color);
    padding: 18px 28px;
    color: var(--white-color);
    display: inline-block;
    border-radius: 50px;
    transition: 0.2s;
    font-family: var(--secondary-font);
    font-weight: 700;
}

.btn-primary i {
    margin-left: 8px;
    transform: rotate(-30deg);
}

.btn-primary:hover,
.btn-transparent:hover {
    background-color: var(--heading-color);
    color: var(--white-color);
}

.btn-transparent {
    background-color: transparent;
    color: var(--text-color);
}

.btn-transparent i {
    margin-left: 8px;
}

/*HERO SECTION END */

/* SECTION START */
/* SECTION END */