/*
AUTHOR NAME   : ANIK ISLAM
TEMPLATE NAEM : AIR NIKE SHOE
VERSION       : 1.0.0
*/

/* ESSENTION SET UP  */
/* ROOT VARIABLES  */
/* font-family: */
:root {
    --primary-font: "Roboto", sans-serif;
    --heading-font:  "Poppins", sans-serif;
    --secondary-font: "Inter", sans-serif;
    --text-color: #6b6b6b;
    --dark-bg: #232323;
    --white-color: #f8f8f8;
    --redish-color: #EC092C;
    --heading-color: #050025;
}

body {
    font-family: var(--primary-font);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.container {
    max-width: 1350px;
    padding: 0 15px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* ESSENTIAL FONT SET UP  */
h1 {
    font-size: 165px;
}

h2 {
    font-size: 64px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    color: var(--heading-color);
    font-family: var(--heading-font) !important;
    font-weight: 700;
}





/*HEADER SECTION START */

.header-leff .logo a {
    color: var(--text-color);
}

.header-row {
    display: flex;
    align-items: center;
    gap: 170px;
    justify-content: space-between;
}

.navmenus li {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    padding: 0 26px;
    flex-shrink: none;
}

.navmenus li a {
    display: inline-block;
    color: var(--black-color);
    font-weight: 600;
    font-family: var(--secondary-font);
    font-size: 16px;
    color: var(--text-color);
}

.header-iocns {
    display: flex;
    align-items: center;
    gap: 10px;
}

.circle-btn {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: var(--dark-bg);
    color: var(--white-color);
    font-size: 20px;
    cursor: pointer;
    position: relative;
    padding: 0;
    border: none;
}

.cart-btn .cart-quantity {
    width: 21px;
    height: 21px;
    color: var(--white-color);
    background-color: var(--redish-color);
    border-radius: 50%;
    position: absolute;
    padding: 3px;
    top: 0;
    right: -8px;
    font-family: var(--primary-font);
    font-weight: 600;
    align-items: center;
    justify-content: center;
    display: inline-flex;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 130px;
}

.canvas-btn {
    width: 73px;
    height: 73px;
    background-color: var(--redish-color);
    border: none;
    display: inline-flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.mobile-menu-btn {
    display: none;
}

.canvas-btn span {
    width: 32px;
    height: 4px;
    background-color: var(--white-color);
    display: inline-block;
    border-radius: 10px;
    transition: 0.2s;
}

.canvas-btn span:nth-child(2) {
    width: 22px;
}

.canvas-btn span:nth-child(3) {
    width: 15px;
}

.canvas-btn:hover span:nth-child(2),
.canvas-btn:hover span:nth-child(3) {
    width: 32px;
}

/*HEADER SECTION END */

/*HERO SECTION START */
.hero-section {
    padding: 220px 0;
}

.hero-content .hero-subtitle {
    margin-left: 155px;
    line-height: 64px;
    letter-spacing: -0.02em; 
    font-family: var(--heading-font); 
}
.hero-content  { 
    position: relative; 
}

.hero-content .hero-subtitle::before {
    content: "";
    height: 5px;
    width: 135px;
    background-color: var(--redish-color);
    position: absolute;  
    bottom: 260px;
    left: 0; 
}    
.hero-content .hero-para {
    font-size: 24px;
    max-width: 655px;
}
/*HERO SECTION END */

/* SECTION START */
/* SECTION END */